.idea
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

node_modules
yarn-error.log
__diff_output__
.env
cdk.out

.DS_Store
.history

**/schema.types.ts

*.tsbuildinfo

testCommand.ts
